<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理页面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        window.onload=function(){
            $(".dels").click(function () {
                var b=confirm("确定删除该文章吗？")
                if (b==false){
                    return false
                }
            });
            $("#select option").click(function () {
                $("#form1").submit()
            });
        }
    </script>
</head>
<body>

    <div class="header">
        <a href="#" class="logo fl"><img src="/static/img/logo.png" alt="logo"></a>
        <a href="/logout" class="logout fr">退 出</a>
    </div>

    <div class="side_bar">
        <div class="user_info">
            <img src="/static/img/person.png" alt="张大山">
            <p>欢迎你 <em>{{.userName}}</em></p>
        </div>

        <div class="menu_con">
            <div class="first_menu active"><a href="javascript:;" class="icon02">文章管理</a></div>
            <ul class="sub_menu show">
                <li><a href="#" class="icon031">文章列表</a></li>
                <li><a href="/toAdd" class="icon032">添加文章</a></li>
                <li><a href="/toAddType" class="icon034">添加分类</a></li>
            </ul>
        </div>
    </div>

    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理>文章列表
        </div>
        <div class="pannel">
            <span class="sel_label">请选择文章分类：</span>
            <form id="form1" method="get" action="/toHomePage">
                <select name="select" id="select" class="sel_opt">
                   {{range .articleTypes}}
                        <option value="{{.Id}}" {{.Select}}>{{.TypeName}}</option>
                    {{end}}
                </select>
            </form>
            <table class="common_table">
                <tr>
                    <th width="43%">文章标题</th>
                    <th width="10%">文章内容</th>
                    <th width="16%">添加时间</th>
                    <th width="7%">阅读量</th>
                    <th width="7%">删除</th>
                    <th width="7%">编辑</th>
                    <th width="10%">文章类型</th>
                </tr>

                {{range $index,$elem:=.articles}}
                <tr>
                    <td>{{$elem.title}}</td>
                    <td><a href="/toContent?id={{$elem.id}}">查看详情</a></td>
                    <td> {{$elem.createAt}}</td>
                    <td>{{$elem.readCount}}</td>
                    <td><a href="/delete?id={{$elem.id}}" class="dels">删除</a></td>
                    <td><a href="/toUpdate?id={{$elem.id}}">编辑</a></td>
                    <td>{{$elem.typeName}}</td>
                </tr>
                 {{end}}
            </table>

            <ul class="pagenation">
                <li><a href="/toHomePage?pageNumber=1&select={{.typeId}}">首页</a></li>
                <li><a href="/toHomePage?pageNumber={{.pageNumber | prePageFunc}}&select={{.typeId}}">上一页 </a> </li>
                <li> <a href="/toHomePage?pageNumber={{nextPageFunc .pageNumber .pageCount}}&select={{.typeId}}">下一页</a></li>
                <li><a href="/toHomePage?pageNumber={{.pageCount}}&select={{.typeId}}">末页</a></li>
                <li>共{{.count}}条记录/共{{.pageCount}}页/当前{{.pageNumber}}页</li>
            </ul>
        </div>
    </div>
</body>
</html>
